.h-100 {
    min-height: 400px;
    width: 100%;
    border-radius: 20px;
}

.container-cart {
    width: 100%;
    height: 100%;
}

.form-cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.form-cart-left {
    width: 70%;
}

.form-cart-right {
    width: 30%;
}

.title-cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.product {
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

.container-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
    align-items: center;
}

.row-image {
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.row-title {
    margin-bottom: 0.5rem;
    text-align: left;
    width: 200px;
}

.row-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-action-minus {
    padding: 10px 10px;
}


.list-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-cart {
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.row-payment {
    display: flex;
    justify-content: space-between;
}

.payment-btn {
    width: 100%;
}

.payment-btn button {
    margin-top: 20px;
    width: 100%;
    background-color: #386bc0;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.form_control {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
    width: 100%;
}
