.contact {
  width: 100%;
  height: 600px;
  background-color: rgb(231, 230, 230);
  align-items: center;
  justify-content: center;
  display: flex;
}
.contact-container {
  width: 70%;
  height: 500px;
  -webkit-box-shadow: var(--webkit);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  display: flex;
}
.contact-left {
  width: 40%;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
}
.contact-items {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.contact-items .contact-header,
.contact-items .contact-header-black {
  font-weight: 700;
  font-size: 24px;
  font-family: var(--family-font);
  text-transform: uppercase;
}
.contact-items .contact-header {
  color: #405861;
}
.contact-items .contact-header-black {
  color: #405861;
}
.contact-items .contact-item {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background);
}
.contact-item .contact-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #405861;
}

.contact-item .contact-text {
  width: 80%;
  font-size: 16px;
  font-family: var(--family-font);
  color: #405861;
}

.contact-right {
  width: 60%;
  height: 100%;
  background-color: white;
}

.contact-header-black h3 {
  font-family: var(--family-font);
  color: #405861;
}

.contact-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid rgb(211, 209, 209);
  padding: 15px;
  color: rgba(0, 0, 0, 0.8) !important;
  font-family: var(--family-font);
}
.contact-form input:focus,
.contact-form textarea {
  outline: none;
}
#name {
  width: 35%;
}
#email {
  width: 45%;
}
#subject {
  width: 100%;
}
.contact-form textarea {
  width: 100%;
}
.contact-form button {
  padding: 8px 15px;
  border: none;
  background-color: var(--color-button);
  border-radius: 4px;
  text-transform: uppercase;
  font-family: var(--family-font);
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.contact-form button:hover {
  color: rgb(71, 71, 71);
  background-color: rgb(204, 203, 203);
  border: 0.5px solid rgb(85, 85, 85);
}
