.single-container {
  width: auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(25, 25, 25, 0.05);
}
.single-left {
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
.item-image {
  height: 600px;
  width: 600px;
  display: flex;
  padding: 50px 0px;
}
.item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item-content {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  align-items: center;
}
.item-content .header-service {
  width: 130px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  border-bottom: 4px solid var(--color-button);
  color: #405861;
}
.item-content .item-name-single {
  /* margin: 30px 0px;
  text-transform: uppercase;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 20px; */

  font-family: "Cormorant Garamond",serif;
    letter-spacing: -.01em;
    color: #405861;
    font-size: 45px;
    line-height: 1.06667em;
    font-weight: inherit;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.item-content .item-price-single {
  /* margin: 30px 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  color: #7a7a7a; */

  font-size: 23px;
    font-weight: 600;
    letter-spacing: .08em;
    color: #85a3b3;
}
.item-content .item-desc-single {
  width: 80%;
  height: auto;
  font-family: var(--family-font);
  font-size: 18px;
  padding: 30px 0px;
  color: #818181;
}
.item-content span {
  font-size: 14px;
  color: #7a7a7a;
  font-family: var(--family-font);
  border: 2px solid var(--color-button);
  padding: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}
.item-content span:hover {
  color: var(--background);
  background-color: var(--color-button);
}

.single-right {
  width: 20%;
  height: auto;
  padding: 50px 0px;
}
.header-limit {
  width: 200px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 4px solid var(--color-button);
  margin-bottom: 20px;
  color: #405861;
}
.item-limit-single {
  padding: 20px;
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.link-single {
  width: auto;
  text-decoration: none;
  display: flex;
  color: #7a7a7a;
  
}
.item-limit-single:hover {
  background-color: var(--background);
}
.image-limit {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.name-limit {
  height: 100%;
  margin-left: 20px;
  width: 100%;
  font-weight: 500;
  display: block;
  font-family: var(--family-font);
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.name-limit:hover {
  background-color: var(--background);
}
